.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 20px 10px;
  background-color: #0b8eab;
}

.inputs > * {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 1px 10px 3px #596061;
  margin-bottom: 5px;
}

.firstname {
  width: 100%;
}

.lastname {
  width: 100%;
}

.age {
  width: 50%;
}

.submit_disabled {
  color: rgb(243, 243, 243);
  background-color: gainsboro;
  box-shadow: none;
}

.submit_new {
  color: #573625;
  background-color: #29d2f0;
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 5px;
  box-shadow: 2px 1px 10px 3px #596061;
}

.submit_new:hover {
  background-color: #6ae9ff;
  transform: scale(1.05);
}

.submit_new:active {
  transform: scale(0.9);
}

@media only screen and (min-width: 768px) {
  .inputs {
    margin: 0px 0px;
    width: 50%;
  }

  .firstname {
    width: 35%;
  }

  .lastname {
    width: 35%;
  }

  .age {
    width: 10%;
  }
}
