.nametable {
  background-color: #f7e8e3;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid gray;
}

.tableheader {
  text-align: left;
  padding-left: 5px;
  color: #f7e8e3;
  height: 50px;
  font-size: small;
  background-color: #573625;
  border-radius: 10px 10px 0px 0px;
}

tbody td {
  background-color: white;
  padding-left: 10px;
}

.firstcolumn,
.lastcolumn,
.firstcolumn_mod,
.lastcolumn_mod {
  width: 25%;
}

.firstcolumn_mod,
.lastcolumn_mod,
.agecolumn_mod {
  padding-left: 2px;
}

.agecolumn,
.agecolumn_mod {
  width: 15%;
}

tbody input {
  width: 100%;
  padding: 7px 2px;
}

.deletecolumn,
.modifycolumn {
  padding: 5px;
  width: 10%;
  text-align: center;
}

.buttonBg {
  border-radius: 5px;
  background-color: #0b8eab;
}

.deletecolumn {
  background-color: #04323a;
}

@media only screen and (min-width: 768px) {
  .nametable {
    width: 50%;
    margin: 10px;
  }

  .tableheader {
    font-size: medium;
    padding-left: 10px;
  }
}
