* {
  box-sizing: border-box;
}
.App {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1dcde;

  border-left: 1px solid #04323a;
}
.header {
  width: 100%;
  text-align: center;
  background-color: #573625;
}

.header h1 {
  font-size: 30px;
  color: #f7e8e3;
}

@media only screen and (min-width: 768px) {
  .header {
    width: 50%;
    padding: 10px;
  }
}
